body{
    background-color: #ffaeae;
}
.name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.price{
    font-size: 20px;
    font-weight: 700;
}



.one{
    background-color: white;
    width: 70%;
    height: 310px ;
    margin: 20px;
    position: relative;
    left: 120px;
    margin-top: 40px;
    border-radius: 2%;
}
.one img{
    width: 340px;
    height: 200px;
    float: left;
    margin-right: 40px;
    padding: 50px 30px 30px 30px;
}
.one div{
    padding-top: 30px;
}
.one div a{
    text-decoration: none;
    color: #443300;
}



.two{
    background-color: white;
    width: 70%;
    height: 310px ;
    margin: 20px;
    position: relative;
    right: -240px;
    margin-top: 40px;
    border-radius: 2%;
}
.two img{
    width: 340px;
    height: 200px;
    float: left;
    margin-right: 40px;
    padding: 50px 30px 30px 30px;
}
.two div{
    padding-top: 30px;
}
.two div a{
    text-decoration: none;
    color: #443300;
}



.three{
    background-color: white;
    width: 70%;
    height: 310px ;
    margin: 20px;
    position: relative;
    left: 120px;
    margin-top: 40px;
    border-radius: 2%;
}
.three img{
    width: 340px;
    height: 200px;
    float: left;
    margin-right: 40px;
    padding: 50px 30px 30px 30px;
}
.three div{
    padding-top: 30px;
}
.three div a{
    text-decoration: none;
    color: #443300;
}



.four{
    background-color: white;
    width: 70%;
    height: 310px ;
    margin: 20px;
    position: relative;
    right: -240px;
    margin-top: 40px;
    border-radius: 2%;
}
.four img{
    width: 340px;
    height: 200px;
    float: left;
    margin-right: 40px;
    padding: 50px 30px 30px 30px;
}
.four div{
    padding-top: 30px;
}
.four div a{
    text-decoration: none;
    color: #443300;
}



.five{
    background-color: white;
    width: 70%;
    height: 310px ;
    margin: 20px;
    position: relative;
    left: 120px;
    margin-top: 40px;
    border-radius: 2%;
}
.five img{
    width: 340px;
    height: 200px;
    float: left;
    margin-right: 40px;
    padding: 50px 30px 30px 30px;
}
.five div{
    padding-top: 30px;
}
.five div a{
    text-decoration: none;
    color: #443300;
}